.container{
  width: 1100px;
  margin: 0 auto;
}
#header{
  width: 100%;
  height: 73px;
  background: #fff;
}
.logo>a{
    display: block;
    width: 290px;
    height: 70px;
    background: url(../img/logo.jpg) no-repeat;
    text-indent: -999px;
    text-decoration: none;
    margin-top: 15px;
    float: left;
}
.search{
  display: block;
  float: left;
  width: 300px;
  height: 69px;
  padding-top: 1px;
  margin-left: 320px;
}
.search form{
  width: 100%;
  height: 34px;
  margin-top: 15px;
  background-position: 0px -0px;
  border: 1px solid #d9d9d9;
  border-radius: 20px ;
  background: url(../img/fdj.jpg)no-repeat;
  background-position: 10px  10px;
}
.search form input{
  width: 80%;
  margin: 10px 0 0 34px;
   border: 0;    /*表单自带框 设置为零后隐藏 */
  outline: none
}
.Cart{
  width: 42px;
  height: 42px;
  float: left;
  position: relative;
  margin: 17px 0 0 41px;
}
.Cart a{
  display: block;
  width: 42px;
  height: 42px;
  background: url(../img/modules.png) no-repeat 0 9999px;
  background-position: -110px -160px;
  cursor: pointer;
}
.Cart span{
  display: block;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  font-size: 10px;
  background: url(../img/modules.png) no-repeat;
  background-position: -156px -158px;
  position: absolute;
  left: 24px;
  top: -5px;
}
.user{
  float: left;
  width: 62px;
  height: 36px;
  margin: 15px 0 0 38px;
  background: url(../img/arrow.png) no-repeat right center;
  position: relative;
  cursor: pointer;
  z-index: 99;
}
#login{
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 14px;
}
.showUl{
  position: absolute;
  top: 54px;
  left: -61px;
  width: 160px;
  height: auto;
  box-shadow: 0 4px 7px #555;
  display: none;
  z-index: 999;
}
.showUl li:hover a{
  color: blue;
}
.user i{
  position: absolute;
  top: 35px;
  left: -62px;
  width: 160px;
  height: 18px;
  background: url(../img/modules.png) no-repeat ;
  background-position: 0px -128px;
  display: none;
  z-index: 999;
}
.user:hover .showUl{
display: block;
}
.user:hover i{
  display: block;
  }
.user ul li a{
  padding-left: 24px;
  font-size: 12px;
  color: #333;
  background-color: #fff;
  display: block;
  width: 134px;
  height: 40px;
  line-height: 40px;
}

/* .m-wrap{
  width: 60px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background: #fff;
  text-align: center;
  position: fixed;
  left: 50%;
  z-index: 98;
  top: 50%;
  width: 60px;
  height: auto;
  font-size: 12px;
  background: #fff;
} */
.m-wrap{
  width: 60px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background: #fff;
  text-align: center;
  font-size: 12px;
  position: fixed;
  z-index: 98;
  margin-left: 570px;
  left: 50%;
  top: 20%;
}

.m-item{
  display: block;
  height: 58px;
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #e5e5e5;
  line-height: 1.5;
  color: #666666;
}
.m-back {
  cursor: pointer;
  height: 35px;
  border: none;
  background: url(../img/totop.png)no-repeat;
  background-position: -70px -0px;
}
.se{
  position: fixed; 
  top : 150px;
  left : 1228px;
}
  